services:
  frontend:
    build: ./client
    ports:
      - "3500:3000"
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build: ./server
    ports:
      - "8001:8001"
    environment:
      - PORT=8001
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    env_file:
      - ./.env
    networks:
      - app-network
  toxicity:
    build: ./toxicity/ai-service
    ports: 
      - "8080:8080"
    depends_on:
      - backend
    networks:
      - app-network
  
networks:
  app-network:
    driver: bridge