
services:
  frontend:
    build: ./client
    ports:
      - "3500:3000"
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build: ./server
    ports:
      - "5000:5000"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
